.light-theme {
  background-color: #ffffff;
  color: #000;
}

.dark-theme {
  background-color: #1b1a1a;
  color: #f8f9fa;
}

.dark-theme .card,
.dark-theme .navbar,
.dark-theme .form-control,
.dark-theme .form-select {
  background-color: #23272b;
  color: #f8f9fa;
  border: 1px solid #333;
}

.dark-theme a {
  color: #81c3fa;
  text-decoration: none;
}

.dark-theme a:hover {
  color: #ffc107;
}

.btn:hover {
  filter: brightness(85%);
  transition: filter 0.2s ease;
}

.card:hover {
  box-shadow: 0 6px 20px rgba(255, 193, 7, 0.5);
  transition: box-shadow 0.3s ease;
}

.dark-theme .card-body,
.dark-theme .card-title,
.dark-theme .card-text {
  color: #f8f9fa;
}



